body, html{
  overflow: hidden;
  width: 100%;height:100%;
  font-family: FuturaStd-Bold,Trebuchet MS,Arial,sans-serif; 
  background-color: #191918;
}

video#mivideo{
  position: fixed;
  top:0;left: 0;
  min-width: 100%;
  height: 110%;
  z-index: 0
}
header{
  position: absolute;
  z-index: 99;
  width: 100%;
  top: 0;left: 0;
  height: 0
}

.diamond-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Ajuste conforme necessário */
}

.diamond-img {
  position: absolute;
  transition: transform 0.3s ease-in-out;
}

.diamond-img:hover {
  transform: scale(1.15) translate(-5%, -5%); /* Amplia a imagem em 5% ao passar o mouse */
}

.ia-losango {
  align-self: center;
  top: 20%;
}

.you-brain {
  top: 30%;
  left: 25%;
}

.car {
  top: 50%;
  left: 30%;
}

.home {
  top: 28%;
  right: 25%;
}

.business-work {
  top: 48%;
  right: 30%;   
}

.ia4s {
  top: 70%;
  align-self: center;
}

/* Media queries para ajustar o layout em telas menores */
@media screen and (max-width: 768px) {
  .diamond-container {
    flex-direction: column; /* Altera para layout de coluna em telas menores */
  }

  /* Defina a margem superior em relação à altura da tela */
  :root {
    --image-size-percentage: 50%;
  }

  .diamond-img {
    width: 60%;
    left: 40%;
    height: auto;
    margin-top: 1vh; 
    text-align: left;
  }

  .you-brain  {
    top: 0%;
    width: 50%;
  }
  
  .home  {
    top: 15%;
    width: 70%;
    left: 35%;
  }
  
  .car  {
    top: 35%;
  }  

  .business-work  {
    top: 45%;
    width: 55%;
  }

  .ia4s  {
    top: 70%;
  }  

  .ia-losango {
    top: 80%;
  }  

  /* Aplique a margem superior para todas as imagens */
  .diamond-img img {
    margin-top: var(--margin-top-percentage); 
    width: var(--image-size-percentage);
    height: auto;
    transform: none; /* Remove qualquer transformação de hover */
    position: static; /* Remove a posição absoluta */
  }
}

/* Media query para dispositivos na horizontal */
@media screen and (orientation: landscape) and (max-width: 768px)  {
  /* Redefina o layout para a orientação na horizontal */
  .diamond-container {
    flex-direction: row; /* Altera de layout de coluna para layout de linha */
    height: auto; /* Redefine a altura para automática */
    max-width: 80%;
  }

  .diamond-img:hover {
    transform: scale(1.15) translateY(5%);
  }

  .diamond-img img{
    width: 30%;
    margin-top: 0; /* Remova a margem superior */
  }

  .you-brain {
    top: 15%;
    left: 15%; /* Ajuste conforme necessário */
  }

  .home {
    top: 15%;
    left: 40%; /* Ajuste conforme necessário */
  }

  .car {
    top: 25%;
    left: 70%; /* Ajuste conforme necessário */
  }

  .business-work {
    top: 10%;
    left: 100%; /* Ajuste conforme necessário */
  }

  .ia4s {
    top: 55%;
    left: 55%; /* Ajuste conforme necessário */
    width: 100%;
  }

  .ia-losango {
    top: 80%;
    left: 60%; /* Ajuste conforme necessário */
  }  
}

/*onfigurações CSS específicas para tablets */
@media screen and (min-width: 768px) and (max-width: 1024px) {

  .diamond-container img{
    max-width: 60%;
    height: auto;
  }  


  .ia-losango {
    top: 25%;
    left: 35%; /* Ajuste conforme necessário */
  }

  .you-brain {
    top: 35%;
    left: 20%; /* Ajuste conforme necessário */
  }  

  .car {
    top: 55%;
    left: 25%; /* Ajuste conforme necessário */
  }

  .ia4s {
    top: 70%;
    left: 40%; /* Ajuste conforme necessário */
  }

  .home {
    top: 35%;
    right: 15%; /* Ajuste conforme necessário */
  }

  .business-work {
    top: 45%;
    right: 25%; /* Ajuste conforme necessário */
  }  

}
